main {
    border-color: rgb(185, 185, 185);
    background-color: white;
    border-style: solid;
    border-width: 1px;
    color: rgba(0, 0, 0, 0.87);
    /*display: block;*/
    /*flex-basis: auto;*/
    /*flex-grow: 1;*/
    /*flex-shrink: 1;*/
    height: 81.5vh;
    /*line-height: 1em;*/
    margin: 1.5em;
}
main .home{
    background: url("../../Recruitment-Word-Cloud.jpeg") no-repeat fixed center;
}